---
title: Home
pagination: 
  enabled: true
description: "Learn web development by figuring out fundamental concepts explained in simple words."
---

<main
    class="container-md">
    {% if paginator.page == 1%}
    
    <!--The latest article section-->
    <section
        class="row no-gutters pt-3">
        {%- include latest_post.html -%}
    </section>
    {% endif %}

    <!--Articles section start-->
    <section
        class="row mt-4">

        {% for post in paginator.posts %}
            {%- include post.html -%}
        {% endfor %}
    </section>
    <!--Articles section end-->

    <!--Pagination start-->
    {%- if paginator.total_pages > 1 -%}
    <div class="row mt-4 justify-content-center">
        {%- include pagination.html -%}
    </div>
    {%- endif -%}
    <!--Pagination end-->
</main>
