<ul
    class="list-unstyled {% if layout.page_type == 'post' %} d-inline-flex {% else %} d-flex {% endif %} flex-wrap pt-2">
    {%- for tag in post.tags -%}
        {%- capture tag_url -%}
            {{ tag | slugify |  prepend: site.data.archives.tag }}
        {%- endcapture -%}
        <li
            class="category pt-1">
            <a
                href="{{ tag_url | relative_url }}" class="btn btn-primary btn-small font-bio-rhyme">{{ tag }}
            </a>
        </li>
    {%- endfor -%}
</ul>