<article
    class="col-12 col-sm-6 mt-3 col-lg-4 col-xl-3">
    <div
        class="card h-100">
        <div
            class="card-header border-0 p-0 bg-white">
            <a
                href="{{ post.url | relative_url }}">
                {% capture thumbnail_url %}
                    {{ post.thumbnail | prepend: 'assets/img/' | relative_url }}
                {% endcapture %}
                <img
                    class="card-img-top"
                    src="{{ thumbnail_url }}" alt="{{ post.thumbnail_alt }}">
            </a>
            <time
                class="small d-block w-100 text-right pt-1 pb-2 pr-2 text-muted">
                <i
                    class="far fa-clock"></i>&nbsp;
                {%- include post_date.html -%}
            </time>
        </div>
        <div
            class="card-body py-0 clamp-excerpt">
            <h3
                class="card-title h4">
                <a
                    href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            {{ post.excerpt }}
        </div>
        <div
            class="card-footer border-0 bg-white pt-0">
            {% include post_tags.html %}
        </div>
    </div>
</article>