<article
    class="col-12 col-sm-6 col-lg-3 mt-3">
    <div
        class="card h-100">
        {% capture thumbnail_url %}
            {{ post.thumbnail_preview | prepend: 'assets/img/' | relative_url }}
        {% endcapture %}
        <a
            href="{{ thumbnail_url }}">
            
            <img
                class="card-img-top"
                src="{{ thumbnail_url }}" alt="{{ post.thumbnail_alt }}">
        </a>
        <div
            class="card-body py-2">
            <h3
                class="card-title h5">
                <a
                    href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <!--Read more button-->
        </div>
        <div class="card-footer border-0 bg-white pt-0">
            {% include read_more.html %}
        </div>
    </div>
</article>