<!--New navigation-->
<nav
    class="container-md text-left">
    <div
        class="row justify-content-between py-2">
        <!--Site logo-->
        <div
            class="col-auto">
            {%- include logo.html -%}
        </div>
        <!--Sections amd menu btn-->
        <div
            class="col-auto">
            <!--Site sections start-->
            <ul
                class="d-none pl-0 list-unstyled text-left d-md-flex flex-md-row align-items-md-center justify-content-around h-100 mb-0 mr-0">
                {%- include sections_items.html -%}
            </ul>
            <!--Menu button-->
            <div
                class="h-100 d-flex align-items-center justify-content-center d-md-none">
                
                <div
                    class="menu-btn"
                    id="menu-btn">
                    <div
                        class="btn-line"></div>
                    <div
                        class="btn-line"></div>
                    <div
                        class="btn-line"></div>
                </div>
            </div>
        </div>
    </div>
</nav>