<ul
    class="list-unstyled pt-sm-1 pt-md-0 mb-0 social">
    <!--Email-->
    <li
        class="category mr-0 position-relative">
        <a
            class="social-link email btn py-1"
            data-email="irensaywhen@gmail.com"
            data-placement="bottom"
            data-toggle="tooltip"
            href="#"
            title="Copy email">
            <i
                class="fas fa-envelope"></i>
        </a>
    </li>
    <!--Twitter-->
    <li
        class="category mr-0">
        <a
            class="social-link btn py-1 twitter-follow-button"
            href="https://twitter.com/IrenSayWhen"
            data-placement="bottom"
            data-toggle="tooltip"
            title="Follow on twitter">
            <i
                class="fab fa-twitter"></i>
        </a>
    </li>
    <!--GitHub-->
    <li
        class="category mr-0">
        <a
            class="social-link btn py-1"
            href="https://github.com/irensaywhen">
            <i
                class="fab fa-github"></i>
        </a>
    </li>
    <!--RSS feed-->
    <li class="category mr-0">
        <a
            href="{{ '/feed.xml' | prepend: site.url }}" class="social-link btn py-1">
            <i class="fas fa-rss"></i></a>
    </li>
</ul>