<ul
    class="list-unstyled pt-sm-1 pt-md-0 social h-100">
    <!--Email-->
    <li
        class="category mr-0 h-100 position-relative">
        <a
            class="email btn btn-light py-1 h-100"
            data-email="irensaywhen@gmail.com"
            data-placement="bottom"
            data-toggle="tooltip"
            id="email"
            href="#"
            title="Copy email">
            <i
                class="fas fa-envelope"></i>
        </a>
    </li>
    <!--Twitter-->
    <li
        class="category mr-0 h-100">
        <a
            class="btn btn-light py-1 h-100 twitter-follow-button"
            href="https://twitter.com/IrenSayWhen"
            data-placement="bottom"
            data-toggle="tooltip"
            title="Follow on twitter">
            <i
                class="fab fa-twitter"></i>
        </a>
    </li>
    <!--GitHub-->
    <li
        class="category mr-0 h-100">
        <a
            class="btn btn-light py-1 h-100"
            href="https://github.com/irensaywhen">
            <i
                class="fab fa-github"></i>
        </a>
    </li>
</ul>