body {
  &.mobile-menu {
    overflow-y: hidden;
  }
}

main {
  padding-top: $header-height + 2.5rem !important;
  padding-bottom: 5rem;

  @include screen-md {
    padding-top: $header-height + 3.5rem !important;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: $light;
  width: 100%;

  .social-link {
    @extend .btn-light;
    height: 100%;
  }
}

footer {
  .social-link {
    color: $info;

    &:hover,
    &:focus {
      color: lighten($info, 10);
    }
  }

  .footer-nav {
    .category {
      a {
        &:hover,
        &:focus {
          color: lighten($info, 10) !important;
        }
      }
    }
  }
}

.logo-link {
  display: inline-block;
  min-height: $logo-height;
  background: $light;

  .logo {
    width: $logo-max-width;

    @include screen-md {
      width: $logo-md-max-width;
    }
  }
}
