main {
  /*-- Post page --*/
  .post {
    line-height: 1.7;
    font-size: 1.1rem;
    max-width: map-get($container-max-widths, md);
    margin: 0 auto;

    article {
      p:last-of-type {
        margin: 0 !important;
      }
    }

    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }

  /*-- About page */

  &.about {
    padding-top: 0 !important;
    min-height: 120vh;
    background: $primary;
    position: relative;

    .first-section {
      height: 100vh;

      .arrow {
        position: absolute;
        z-index: 1000;
        top: 95%;
        left: 50%;
        color: $light;
        cursor: pointer;

        animation-name: arrow;
        animation-iteration-count: infinite;
        animation-duration: 1s;
      }

      .first-section-content {
        position: absolute;
        perspective: 200px;
        top: 35%;
        width: 100%;
        height: 250px;
        background: $stripe-linear-gradient-135deg, $stripe-linear-gradient-0deg,
          $background-gradient;
        background-repeat: no-repeat;
        background-attachment: fixed;

        .about-item {
          @include ease-out;
          font-size: calc(2rem + 1vw);
          $x-offset: 4.5vw;
          $y-offset: 7%;
          $x-lg-offset: 12vw;
          $width: 45%;
          $height: 40%;
          $width-sm: 35%;
          $height-sm: 40%;
          cursor: pointer;

          position: absolute;
          width: $width;
          height: $height;
          background: $light;

          &:first-of-type {
            top: $y-offset;
            left: $x-offset;
            box-shadow: $red-right-shadow;
            transform: rotate3d(1, 2, 3, 5deg);

            @include screen-lg {
              left: $x-lg-offset;
            }

            &:hover {
              box-shadow: $red-right-shadow-lg;
              transform: rotate3d(1, 2, 3, 2deg);
            }
          }

          &:last-of-type {
            bottom: $y-offset;
            right: $x-offset;
            box-shadow: $red-left-shadow;
            transform: rotate3d(-2, 3, 3, -3deg);

            @include screen-lg {
              right: $x-lg-offset;
            }

            &:hover {
              box-shadow: $red-left-shadow-lg;
              transform: rotate3d(-2, 3, 3, -4deg);
            }
          }

          @include screen-sm {
            width: $width-sm;
            height: $height-sm;
          }
        }
      }
    }

    .about-me {
      background: $light;
      min-height: 200vh;
      text-align: center;

      .arrow-dark {
        @include ease-out;
        width: 100%;
        cursor: pointer;
        font-size: 1.5rem;
        animation-name: shine;
        animation-iteration-count: infinite;
        animation-duration: 2s;

        &:hover,
        &:focus {
          color: darken($primary, 15);
        }
      }

      .show-on-scroll {
        transition: all 1.5s;
      }

      .hidden {
        opacity: 0;
      }

      .shown {
        opacity: 1;
      }

      .my-photo {
        transition: all 1.5s;
        height: 100vh;
        // My photo
        img {
          transition: all 1s;
          display: inline-block;
          width: 90%;
          max-width: $my-photo-max-width;
          height: auto;
        }

        &.blurred {
          filter: blur(15px);
        }

        &.unblurred {
          filter: blur(0);
        }
      }

      .paragraph {
        width: 90%;
        max-width: $description-max-width;
        height: 100vh;
        font-size: 1.5rem;
      }

      &:nth-of-type(2) {
        .paragraph {
          &:first-of-type {
            font-size: 2rem;
            font-weight: 500;
          }
        }
      }
    }

    .cite {
      font-size: 2.5rem;
      blockquote {
        width: 90%;
        max-width: $description-max-width;
      }
    }
  }
}
