$primary: #2b2b2b;
$secondary: #ff3530;
$secondary-dark: #c1272d;
$light: #f7f7f7;
$black: #000;

// Theme border radiuses
$border-radius: none;
$border-radius-lg: none;
$border-radius-sm: none;

// Theme body colors
$body-bg: $light;
$body-color: $primary;

// Disable link hover decoration
$link-hover-decoration: none;

// Typography
$font-family-serif: 'BioRhyme', serif;
$font-family-base: 'Inter', sans-serif;
$headings-font-family: $font-family-serif;
$headings-font-weight: 700;

// Logo
$logo-max-width: 14rem;
$logo-md-max-width: 17rem;
$logo-height: $logo-max-width / 6.75;
$logo-md-height: $logo-md-max-width / 6.75;

// header
$section-height: $logo-height + 0.5rem;
$section-md-height: $logo-md-height + 0.5rem;
$categories-height: 2.665rem;

$header-height: $section-height + $categories-height;
$header-md-height: $section-height + $categories-height;

// screen
$screen-xs: 320px;

// Custom grid
$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 470px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

// About page
$stripe-linear-gradient-135deg: repeating-linear-gradient(
    135deg,
    $light,
    $light 1.5rem,
    $primary 1.5rem,
    $primary 3rem,
    $light 3rem
  )
  0% 15% / 35% 35%;

$stripe-sm-linear-gradient-135deg: repeating-linear-gradient(
    135deg,
    #f7f7f7,
    #f7f7f7 1.5rem,
    #2b2b2b 1.5rem,
    #2b2b2b 3rem,
    #f7f7f7 3rem
  )
  0% 0%/35% 35vh;

$stripe-linear-gradient-0deg: repeating-linear-gradient(
    90deg,
    $light,
    $light 1.5rem,
    $primary 1.5rem,
    $primary 3rem,
    $light 3rem
  )
  100% 100% / 35% 55%;

$stripe-sm-linear-gradient-0deg: repeating-linear-gradient(
    0deg,
    $light,
    $light 1.5rem,
    $primary 1.5rem,
    $primary 3rem,
    $light 3rem
  )
  100% 100% / 25% 65%;

$red-right-shadow: 20px 20px $secondary;
$red-right-shadow-lg: 30px 30px $secondary;
$red-left-shadow: -20px 20px $secondary;
$red-top-right-shadow: 20px -20px $secondary;
$red-left-shadow-lg: -30px 30px $secondary;

$background-gradient: linear-gradient($primary, $primary) 0% 0% / 100% 100%;

$my-photo-max-width: 31.25rem;
$description-max-width: 37.5rem;
