---
layout: default
page_type: 'post'
---
{% assign post = page%}
<main>
    <section
        class="container post">
        <article
            class="row">
            <div
                class="col-12">
                <h1
                    class="mb-0 h2">
                    {{ post.title }}
                </h1>
                <!--Post date-->
                <div
                    class="d-flex mt-2 justify-content-between">
                    <time
                        class="small d-inline-block text-left text-muted pr-4">
                        <i
                            class="far fa-clock"></i>&nbsp;
                        {%- include post_date.html -%}
                    </time>
                    <span
                        class="align-self-center">
                        {% include share.html %}
                    </span>
                </div>
                {% if post.subtitle %}
                    <p
                        class="font-weight-light">
                        {{ post.subtitle }}
                    </p>
                {% endif %}
                <!--Post thumbnail-->
                {% capture thumbnail_url %}
                    {{ post.thumbnail | prepend: 'assets/img/' | relative_url }}
                {% endcapture %}
                <figure
                    class="text-left my-3">
                    <img
                        src={{ thumbnail_url }} class="mw-100 h-auto"
                        alt="{{ post.thumbnail_alt }}">
                    <figcaption
                        class="mt-1 font-weight-light">
                        {{ post.thumbnail_description }}
                    </figcaption>
                </figure>
                {{content}}
            </div>
            <div
                class="col-12">
                <div
                    class="d-flex justify-content-between align-items-center">
                    {% include post_tags.html %}
                    {% include share.html %}
                </div>
            </div>
        </article>
    </section>
    <!--Related posts section-->
    <section
        class="container-md">
        <div
            class="row">
            <div
                class="col-12">
                <h2
                    class="h4 mb-0 mt-5">
                    You may also like:
                </h2>
            </div>
            {% include related_posts.html %}
        </div>
    </section>
</main>
